fastapi
uvicorn
gunicorn

langchain
langchain-community
langchain-openai
langchain-groq
langchain-anthropic
langgraph

pinecone
langchain-pinecone

sentence-transformers
torch
transformers

python-dotenv
psycopg2-binary
python-jose
python-multipart
pypdf